/*-- Google Font --*/
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900");

/*-- Common Style --*/
*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #ffffff;
    line-height: 23px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family: "Rubik", sans-serif;
    color: #454545;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    color: #3a3a3a;
    font-family: "Rubik", sans-serif;
    margin-top: 0;
}

h1 {
    font-size: 48px;
    line-height: 55px;
}

h2 {
    font-size: 36px;
    line-height: 1.2;
}

h3 {
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-size: 20px;
    line-height: 28px;
}

h5 {
    font-size: 16px;
    line-height: 20px;
}

h6 {
    font-size: 14px;
    line-height: 18px;
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 34px;
        line-height: 42px;
    }

    h1 br {
        display: none;
    }
}

@media only screen and (max-width: 479px) {
    h1 {
        font-size: 26px;
        line-height: 32px;
    }

    h1 br {
        display: none;
    }
}

p {
    font-size: 14px;
}

p:last-child {
    margin-bottom: 0;
}

a, button {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #80BB01;
}

a, button, img, input, span {
    transition: all 0.3s ease 0s;
}

*:focus {
    outline: none !important;
}

a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button, input[type="submit"] {
    cursor: pointer;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

button:focus, a:focus {
    outline: none;
    box-shadow: none;
}

.btn, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.header-sticky.is-sticky {
    position: fixed;
    width: 100%;
    z-index: 999999999;
    top: 0;
}

.header-sticky.bg-white.is-sticky {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    z-index: 999999999;
    top: 0;
}

/*--
    - Common Classes
-----------------------------------------*/
.fix {
    overflow: hidden;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.section {
    float: left;
    width: 100%;
}

.section-title h3 {
    color: #ff0a0a;
}

@media only screen and (max-width: 767px) {
    .container {
        width: 450px;
    }
}

@media only screen and (max-width: 479px) {
    .container {
        width: 300px;
    }
}

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

.light {
    font-weight: 300;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}

.row-8 {
    margin-right: -8px;
    margin-left: -8px;
}

/*-- Container Fluid --*/
.container-ext {
    max-width: 1400px;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .container-ext {
        max-width: 1400px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container-ext {
        max-width: 1400px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container-ext {
        max-width: 1400px;
    }
}

@media only screen and (max-width: 767px) {
    .container-ext {
        max-width: 1400px;
    }
}

@media only screen and (max-width: 479px) {
    .container-ext {
        max-width: 1400px;
    }
}

.login-form-container {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 60px;
    text-align: left;
}

@media only screen and (max-width: 479px) {
    .login-form-container {
        padding: 30px;
    }
}

.login-form-container .login-btn, .login-form-container .register-btn {
    margin-top: 20px;
    padding: 8px 30px;
}

/*--
    12. Breadcrumb Style
------------------------------------------*/
.breadcrumb-area {
    background: #F9F9F9;
    padding: 17px 0;
    border: 1px solid #ebebeb;
}

.breadcrumb-list .breadcrumb-item {
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1;
    display: inline-block;
}

.breadcrumb-list .breadcrumb-item.active {
    color: #80BB01;
}

.breadcrumb-list .breadcrumb-item a:hover {
    color: #80BB01;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/*--
    - Button
------------------------------------------*/
.btn-1, .btn-2 {
    border: 1px solid #626262;
    line-height: 24px;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #3a3a3a;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.btn-1:focus, .btn-2:focus {
    outline: none;
}

.btn-1::before, .btn-2::before {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 0;
    width: 150%;
    background-color: #80BB01;
    transition: all 0.3s ease 0s;
    content: "";
    transform: translateX(-50%) translateY(-50%) rotate(-30deg);
    opacity: 0;
    z-index: -1;
}

.btn-1:hover, .btn-2:hover {
    color: #ffffff;
}

.btn-1:hover::before, .btn-2:hover::before {
    height: 300%;
    opacity: 1;
}

.btn-1.hover-theme::before, .btn-2.hover-theme::before {
    background-color: #80BB01;
}

.btn.hover-theme:hover, .btn-2.hover-theme:hover {
    border-color: #80BB01;
    color: #3a3a3a;
}

.btn-1.hover-theme:hover::before, .btn-2.hover-theme:hover::before {
    height: 300%;
    opacity: 1;
}

.btn-1.btn-circle, .btn-2.btn-circle {
    border-radius: 50px;
}

.btn-1.btn-radius, .btn-2.btn-radius {
    border-radius: 5px;
}

.btn-1.btn-square, .btn-2.btn-square {
    border-radius: 0;
}

.btn-1.btn-text, .btn-2.btn-text {
    border-radius: 0;
    padding: 0;
    line-height: 20px;
    border: none;
}

.btn-1.btn-text::before, .btn-2.btn-text::before {
    display: none;
}

.btn-1.btn-text.hover-theme:hover, .btn-2.btn-text.hover-theme:hover {
    color: #80BB01;
}

.btn-1.btn-underline, .btn-2.btn-underline {
    text-decoration: underline;
}

.btn-1.btn-large, .btn-2.btn-large {
    padding: 15px 40px;
    font-size: 16px;
}

@media only screen and (max-width: 767px) {
    .btn-1.btn-large, .btn-2.btn-large {
        font-size: 12px;
        padding: 7px 25px;
    }
}

@media only screen and (max-width: 479px) {
    .btn-1.btn-large, .btn-2.btn-large {
        font-size: 11px;
        padding: 4px 15px;
        margin-top: 15px;
    }
}

.btn-1.btn-medium, .btn-2.btn-medium {
    padding: 7px 20px;
    font-size: 12px;
}

@media only screen and (max-width: 767px) {
    .btn-1.btn-medium, .btn-2.btn-medium {
        font-size: 12px;
        padding: 7px 25px;
    }
}

@media only screen and (max-width: 479px) {
    .btn-1.btn-medium, .btn-2.btn-medium {
        font-size: 11px;
        padding: 4px 15px;
        margin-top: 15px;
    }
}

.btn-1.btn-small, .btn-2.btn-small {
    padding: 4px 15px;
    font-size: 11px;
}

@media only screen and (max-width: 767px) {
    .btn, .btn-2 {
        font-size: 12px;
        padding: 7px 25px;
    }
}

@media only screen and (max-width: 479px) {
    .btn, .btn-2 {
        font-size: 11px;
        padding: 4px 15px;
    }
}

.btn-2 {
    padding: 8px 30px;
}

select.form-control:focus {
    outline: 1px solid #dee2e6 !important;
}

.input-group-append .input-group-text, .input-group-prepend .input-group-text {
    border-color: #dee2e6;
    /* padding: 0.94rem 0.5rem 0.94rem 1rem; */
    color: #b9b8b8;
    padding: 0px 12px;
}

.pointer:hover {
    cursor: pointer;
}

.spinhide {
    display: none;
}

.spinner {
    position: fixed !important;
    top: 10em;
    margin-left: 50% !important;
    margin-top: 10px !important;
    height: 50px;
    left: 1em;
    z-index: 200;
}

.ant-message {
    z-index: 9999;
    top: 70px !important;
}

.modelMessage {
    text-align: right;
    margin-right: 36px;
}
.ant-message .anticon {
    font-size: 26px;
}
.anticon{
    vertical-align: 0;
}
.space-align-container {
    display: flex;
    align-item: flex-start;
    flex-wrap: wrap;
}
.space-align-block {
    margin: 8px 4px;
    border: 1px solid #40a9ff;
    padding: 4px;
    flex: none;
}
.space-align-block .mock-block {
    display: inline-block;
    padding: 32px 8px 16px;
    background: rgba(150, 150, 150, 0.2);
}
